<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Add Report</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

</head>

<body>

<div class="container my-5" th:object="${report}">

    <h3>Add New Report</h3>
    <hr/>

    <div class="my-2 w-100">

        <form class="w-100" th:action="@{/api/reports/saveReport}" method="post" th:object="${report}">

            <div>
                <label>Report Title:</label>
                <input class="form-control w-100 mb-4" type="text" th:field="*{reportName}"
                       placeholder="Enter Report Name" required="required"/>
                <span th:if="${#fields.hasErrors('reportName')}" th:errors="*{reportName}"></span>
            </div>

            <div>
                <label>SQL Query:</label>
                <textarea class="form-control w-100 mb-4" th:field="*{query}" placeholder="Enter SQL Query"
                          required="required"></textarea>
                <span th:if="${#fields.hasErrors('reportName')}" th:errors="*{reportName}"></span>
            </div>

            <div>
                <label>Columns:</label>
                <input class="form-control w-100 mb-4" type="text" th:field="*{columns}"
                       placeholder="Enter Column Names Separated by Comma(,)" required="required"/>
                <span th:if="${#fields.hasErrors('reportName')}" th:errors="*{reportName}"></span>
            </div>

            <label for="scheduled">Scheduled:</label>
            <input class="mb-2" type="checkbox" id="scheduled" th:field="*{scheduled}" onchange="toggleFields()"/>

            <div class="mb-2" id="dailyField" style="display: none;">
                <label for="daily">Daily:</label>
                <input type="checkbox" id="daily" th:field="*{daily}"/>
            </div>
            <div class="mb-2" id="weeklyField" style="display: none;">
                <label for="weekly">Weekly:</label>
                <input type="checkbox" id="weekly" th:field="*{daily}"/>
            </div>
            <div class="mb-2" id="monthlyField" style="display: none;">
                <label for="monthly">Monthly:</label>
                <input type="checkbox" id="monthly" th:field="*{daily}"/>
            </div>
            <div class="mb-2" id="yearlyField" style="display: none;">
                <label for="yearly">Yearly:</label>
                <input type="checkbox" id="yearly" th:field="*{daily}"/>
            </div>
            <div class="mb-4" id="timeField" style="display: none;">
                <label for="time">Time:</label>
                <input type="text" id="time" th:field="*{time}" placeholder="HH:mm"/>
            </div>

            <div id="params-container">
                <!-- Iterate over the paramsList and create input fields for ParamDTO objects -->
                <div class="param-row" th:each="paramItem, paramIndex : *{paramsList}">

                    <label>Parameter Name:</label>
                    <input type="text" th:field="*{paramsList[__${paramIndex.index}__].paramName}" class="my-1"
                           placeholder="Enter Parameter Name">

                    <label>Parameter Value:</label>
                    <input type="text" th:field="*{paramsList[__${paramIndex.index}__].paramValue}" class="my-1"
                           placeholder="Enter Parameter Value">

                    <button type="button" class="remove-param-button btn btn-danger btn-sm m-1 shadow"
                            onclick="removeParamRow(this)">Remove
                    </button>

                </div>
            </div>

            <button type="button" class="btn btn-secondary btn-sm my-1 shadow" style="width: 120px; height: 35px;"
                    onclick="addParamRow()">Add Parameter
            </button>

            <hr/>

            <div>
                <button type="submit" class="btn btn-primary shadow-lg" style="width: 100px;">Save</button>
            </div>

            <input type="hidden" th:field="*{id}"/>

        </form>

    </div>

    <hr/>
    <div>
        <button class="btn btn-sm btn-outline-primary mb-2" onclick="goBack()">Go Back</button>
    </div>
<!--    <a th:href="@{/api/reports/view}">Back to Report List</a>-->

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<script type="text/javascript">
    function toggleFields() {

        const scheduledCheckbox = document.getElementById("scheduled");
        const dailyField = document.getElementById("dailyField");
        const weeklyField = document.getElementById("weeklyField");
        const monthlyField = document.getElementById("monthlyField");
        const yearlyField = document.getElementById("yearlyField");
        const timeField = document.getElementById("timeField");

        if (scheduledCheckbox.checked) {
            dailyField.style.display = "block";
            weeklyField.style.display = "block";
            monthlyField.style.display = "block";
            yearlyField.style.display = "block";
            timeField.style.display = "block";
        } else {
            dailyField.style.display = "none";
            weeklyField.style.display = "none";
            monthlyField.style.display = "none";
            yearlyField.style.display = "none";
            timeField.style.display = "none";
        }

    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // JavaScript function to add a new ParamDTO input row
    function addParamRow() {
        const newRow = $('<div class="param-row">');
        newRow.append('<label>Parameter Name:</label> <input type="text" class="me-1 my-1" name="paramsList[' + ($('.param-row').length) + '].paramName" placeholder="Enter Parameter Name">');
        newRow.append('<label>Parameter Value:</label> <input type="text" class="me-1 my-1" name="paramsList[' + ($('.param-row').length) + '].paramValue" placeholder="Enter Parameter Value">');
        newRow.append('<button type="button" class="remove-param-button btn btn-danger btn-sm m-1 shadow" onclick="removeParamRow(this)">Remove</button>');
        $('#params-container').append(newRow);
    }

    // JavaScript function to remove a ParamDTO input row
    function removeParamRow(button) {
        $(button).parent().remove();
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
