<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Add Report</title>

		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous" />
	</head>
	<body>

		<div class="container mt-5">

			<h3>Add New Report</h3>
			<hr/>

			<div class="mt-4 w-100 d-flex justify-content-center">

				<form id="ReportForm" class="w-100" th:action="@{/api/reports/saveReport}" th:object="${report}" method="POST">

					<input type="text" th:field="*{reportName}" class="form-control mb-4 w-100" placeholder="Enter Report Name" />

					<input type="text" th:field="*{query}" class="form-control w-100 mb-4" placeholder="Enter SQL Query" />

					<input type="text" th:field="*{columns}" class="form-control w-100 mb-4" placeholder="Enter Column Names Separated by Comma(,)" />

					<table>
						<tr th:each="entry, rowStat : ${report.paramsMap.entrySet()}">
							<td><input type="text" th:field="${report.paramsMap[__${rowStat.index}__].key}" /></td>
							<td><input type="text" th:field="${report.paramsMap[__${rowStat.index}__].value}" /></td>
						</tr>
					</table>

<!--					<table class="table table-bordered table-striped">-->
<!--						<thead>-->
<!--						<tr>-->
<!--							<th>Param Name</th>-->
<!--							<th>Param Value</th>-->
<!--						</tr>-->
<!--						</thead>-->
<!--						<tbody>-->
<!--						<tr th:each="parameter: ${report.paramsMap}">-->
<!--							<td th:text="${parameter.key}" />-->
<!--							<td th:text="${parameter.value}" />-->
<!--						</tr>-->
<!--						</tbody>-->
<!--					</table>-->

					<button type="submit" class="btn btn-primary col-2">Save</button>
					<input type="hidden" th:field="*{id}" />

				</form>

			</div>

			<hr/>
			<a th:href="@{/api/reports/view}">Back to Report List</a>

		</div>

<!--		<script th:inline="javascript">-->
<!--			function addParameter() {-->
<!--				var newKey = prompt("Enter parameter key:");-->
<!--				if (newKey != null) {-->
<!--					var container = document.querySelector("div[th\\:each*='${report.paramsMap}']");-->
<!--					var newDiv = document.createElement("div");-->
<!--					newDiv.innerHTML = `-->
<!--                    <input type="text" th:field="*{paramsMap[__${newKey}__]}" placeholder="Key" />-->
<!--                    <input type="text" th:field="*{paramsMap[__${newKey}__]}" placeholder="Value" />-->
<!--                    <button type="button" th:onclick="'removeParameter(\'' + '${newKey}' + '\')'">Remove</button>-->
<!--                `;-->
<!--					container.appendChild(newDiv);-->
<!--				}-->
<!--			}-->

<!--			function removeParameter(key) {-->
<!--				var container = document.querySelector("div[th\\:each*='${report.paramsMap}']");-->
<!--				var elements = container.querySelectorAll("div");-->
<!--				elements.forEach(function(element) {-->
<!--					var input = element.querySelector("input[type='text']");-->
<!--					if (input && input.value === key) {-->
<!--						container.removeChild(element);-->
<!--					}-->
<!--				});-->
<!--			}-->
<!--		</script>-->

	</body>
</html>