<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <title>List of Scheduled Reports</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

</head>

<body>

<div class="container-100 m-5 px-5">

    <div class="d-flex justify-content-between align-items-center">
        <h3>List of Reports</h3>
        <a th:href="@{/api/users/logout}" class="btn btn-outline-dark shadow">Log Out</a>
    </div>

    <hr/>
    <div class="d-flex justify-content-between align-items-center">
        <a id="addReportButton" th:href="@{/api/reports/view/addReportForm}" class="btn btn-primary shadow-lg">Add New
            Report</a>
        <p class="fw-medium">Current User: <span class="fw-bold" sec:authentication="name"></span> as <span
                class="fw-bold" sec:authentication="authorities"></span></p>
        <a th:href="@{/api/reports/view}" class="btn btn-outline-primary shadow">Back to List of Reports</a>
    </div>
    <hr/>

    <table class="table table-bordered table-striped table-success table-hover shadow" id="reportTable">

        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Creator Name</th>
            <th>Creation Time</th>
            <th>Last Update Time</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="report: ${scheduledReports}">
            <td th:text="${report.id}"/>
            <td th:text="${report.reportName}"/>
            <td th:text="${report.reportCreatorName}"/>
            <td th:text="${report.creationTime}"/>
            <td th:text="${report.lastUpdateTime}"/>
            <td>
                <a id="runButton" th:href="@{/api/reports/view/runResult/{id}(id=${report.id})}"
                   class="btn btn-warning my-1 ms-1 shadow">Run</a>
                <a sec:authorize="hasAnyAuthority('SYS_ROOT','DEVELOPER')"
                   th:href="@{/api/reports/view/editReportForm/{reportId}(reportId=${report.id})}"
                   class="btn btn-secondary my-1 ms-1 shadow">Edit</a>
                <a sec:authorize="hasAuthority('SYS_ROOT')" th:href="@{/api/reports/delete/{id}(id=${report.id})}"
                   class="btn btn-danger my-1 ms-1 shadow">Delete</a>
                <a sec:authorize="hasAnyAuthority('SYS_ROOT')" th:href="@{/api/executionHistories/view(reportId=${report.id})}"
                   class="btn btn-info my-1 ms-1 shadow">Execution
                    History</a>
            </td>
        </tr>
        </tbody>

    </table>

    <hr/>
    <a href="#" class="btn btn-sm btn-outline-secondary shadow mb-2">Go Top 🔝</a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#reportTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>