<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Execution History of Report</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container-100 m-5 px-5">

    <h3 class="">Execution History of Report</h3>

    <table class="table table-bordered table-striped" id="reportTable">

        <thead>
        <tr>
            <th>History ID</th>
            <th>Report ID</th>
            <th>Report Name</th>
            <th>Report Execution Time</th>
            <th>Report Executor Name</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="h: ${history}">
            <td th:text="${h.id}" />
            <td th:text="${h.reportId}" />
            <td th:text="${h.reportName}" />
            <td th:text="${h.executionTime}" />
            <td th:text="${h.reportExecutorName}" />
            <td> <a th:href="@{/api/histories/view/details(id=${h.id})}" class="btn btn-info">History Details</a> </td>
        </tr>
        </tbody>

    </table>

    <hr/>
    <a th:href="@{/api/reports/view}">Back to Report List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#reportTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>

</body>

</html>